<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="VS" value="https://devdiv.pkgs.visualstudio.com/_packaging/VS/nuget/v3/index.json" />
    <add key="Setup-Dependencies" value="https://devdiv.pkgs.visualstudio.com/_packaging/Setup-Dependencies/nuget/v3/index.json" />
  </packageSources>
</configuration>